# .env.example
BOT_TOKEN=8552395488:AAHFmk5SvVUNbQs5HGTUS_rllHGECoTq31o
ADMIN_IDS=7038512176
ADMIN_USERNAME=@Mkg12333
USDT_ADDRESS=TXyzAbc123...
SECRET_KEY=your-super-secret-key-change-this
DATABASE_URL=sqlite:///mk_sniper.db
ADMIN_PASSWORD=admin123
DASHBOARD_USER=admin